{% extends 'catalog/base.html' %}

{% block content %}
<div class="checkout-basket">
    <h2>Checkout</h2>
    <ul>
        {% for item in basket.basketitem_set.all %}
            <li>
                <h3>{{ item.product.title }}</h3>
                <p>Price: {{ item.price }}</p>  <!-- Display the basket item price -->
                <p>Quantity: {{ item.quantity }}</p>
                <form method="post" action="{% url 'remove_from_basket' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Remove">
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'payment' %}" class="btn">Proceed to Payment</a>
</div>
{% endblock %}

