{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Confirm & Pay</title>
    <!-- Include CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'catalog/css/style.css' %}">
</head>
<body>
    <!-- Page Header -->
<header class="site-header"></header>

    <!-- Checkout Basket -->
<div class="checkout-basket">
    <h2>Checkout</h2>
    <ul>
        {% for item in basket.basketitem_set.all %}
            <li>
                <h3>{{ item.product.title }}</h3>
                <p>Price: {{ item.product.price }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <form method="post" action="{% url 'remove_from_basket' item.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Remove">
                </form>
            </li>
        {% empty %}
            <li>Your basket is empty</li>
        {% endfor %}
    </ul>
    <p>Total price: {{ basket.get_total_price }}</p>

        
        <!-- Payment Form -->
<form action="{% url 'charge' %}" method="post" id="payment-form">
    {% csrf_token %}
    

    <div class="form-row">
        <label for="card-element">
            Credit or debit card
        </label>
        <div id="card-element">
        </div>

        <!-- In case of payment form errors. -->
        <div id="card-errors" role="alert"></div>
    </div>

        <!-- Submit Payment Button -->
    <button type="submit">Submit Payment</button>
</form>
</div>   
    <!-- Stripe.js Library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<!-- Include JavaScript file -->
<script type="module" src="{% static 'catalog/js/script.js' %}"></script>
    
</body>
</html>