{% extends 'catalog/base.html' %}


{% block title %}Products{% endblock %}

{% block content %}

<!-- Products page content -->
<!-- Display all products categories in the database -->
{% for Category in categories %}

<h1 class="category-title">{{ Category.name }}</h1>
<!-- Display all products in the category -->
<div class="product-list">
    {% for product in Category.products %}
    <div class="product-item">
      <a href="{% url 'product_detail' product.id %}"> 
            <h2 class="product-title">{{ product.title }}</h2>
            <p class="product-category">Category: {{ Category.name }}</p>
            <img class="product-image" src="{{ product.image.url }}" alt="{{ product.title }}">
            <p class="product-description">{{ product.description }}</p> 
        </a>
        <form method="post" action="{% url 'add_to_basket' product.id %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
        </form>
    </div>
    {% empty %}
    <p class="no-products">No products available in this category.</p>
    {% endfor %}
</div>

{% endfor %}

{% endblock %}
<!-- Block footer from base extension -->
{% block footer %}
{% endblock %}