{% extends 'catalog/base.html' %}

{% block content %}

<!-- Product detail page content rendering further info and images of selected product from database-->
<div class="product-detail-content">
    <div class="product-detail-image-container">
        <img class="product-detail-image" src="{{ product.image.url }}" alt="{{ product.title }}">
    </div>
    <h1 class="product-detail-title">{{ product.title }}</h1>
    <p class="product-detail-description">{{ product.description }}</p>
    <p class="product-detail-description2">{{ product.description2 }}</p> 
    <div class="product-multi-img-container">
        <img class="product-multi-img" src="{{ product.image2.url }}" alt="{{ product.title }}"> 
        <img class="product-multi-img" src="{{ product.image3.url }}" alt="{{ product.title }}"> 
        <img class="product-multi-img" src="{{ product.image4.url }}" alt="{{ product.title }}">
    </div>
    <p class="product-detail-price">{{ product.price }}</p> 
    <form method="post" action="{% url 'add_to_basket' product.id %}">
        {% csrf_token %}
        <input type="submit" value="Add to Basket">
    </form>

    </div>

    

{% block footer %}
{% endblock %} 
    
{% endblock %}